{% extends  'sys.html' %}

{% block title %}<title >Menu </title>{%endblock%}
{% block content %}
<div class="container" >
           {% load static %}
			<br>
					<form method="POST">
						{% csrf_token %}
			<div class="col-lg-12 reserve-container">
				<div class="col navMenu">
	     		 	<h2 class="text-center" >~ Menu ~</h2>
				</div>
			</div>


<table  class="table table-striped">
					<tr>
						<th>
							<input type="search" name="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" /></th>

						<th>
							<li class="nav-item dropdown">
							<button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" ><span class="label-icon" >Category</span></button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

								{% for x in categories.all%}
		                    <a  class="dropdown-item" href="{% url 'category_name' x.id %}">{{x.name}}</a>

								{%endfor%}
	</div>

					    </li></th>
					</tr>
				</table>
						<br>


			<div >
				  <div class="row justify-content-md-center">
                      {% for x in menu_items.all%}
	     				<div class="col-md-4 col-sm-12 text-center mb-5">
  						<img class="card-img-top img-fluid " src="{{x.image.url}} " >
					  		<h4 class="card-title">~ {{x.name}} ~</h4>
					    	<p> Price: {{x.price}}$ </p>
							<button type="submit" class="btn btn-secondary btn-block"><a href="{%url 'menu_details' x.id %}" style="color:white ; text-decoration: none ;">details</a></button>


					</div>
					{%endfor%}

  </div>


					</div>

					</form>
</div>


    {%endblock%}
